<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Toefl Seat Brief View</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Toefl Seat Brief View</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/seat">View Raw Page</a></li>
                <li id="toggleBtn"><a href="#">Show Available Only</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th>时间</th>
                <th>地点</th>
                <th colspan="2">考场</th>
                <th>状态</th>
                <th>更新时间</th>
            </tr>
    <% for (var key in seatsCache) { %>
        <% for (var subkey in seatsCache[key]) { %>
            <% for (var i = 0; i < seatsCache[key][subkey].length; i++) { %>

            <tr class="<%= seatsCache[key][subkey][i]['available']?'success':'danger'%>">
                <td><%= key.split(' ')[2]%></td>
                <td><%= subkey.split(' ')[0]%></td>
                <td><%= seatsCache[key][subkey][i]['center_id']%></td>
                <td><%= seatsCache[key][subkey][i]['center_name']%></td>
                <td><%= seatsCache[key][subkey][i]['available']?'有名额':'名额已报满'%></td>
                <td><%= parseInt((Date.now() - seatsCache[key][subkey][i]['timestamp'])/1000)+"秒前"%></td>
            </tr>

            <% } %>
        <% } %>
    <% } %>
        </table>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $("#toggleBtn").click(function (event) {
        event.preventDefault();

        $(this).toggleClass("active");

        if ($(this).hasClass("active")) {
            $("tr[class='danger']").hide();
        } else {
            $("tr[class='danger']").show();
        }
    });
</script>
</body>
</html>
